<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{__dirname}}/style.css">
  <title>Shopping Cart</title>
</head>
<body>
  <h1>Shopping Cart</h1>
  <ul>
    {{#each products.docs}}
      <li>
        <h2>{{title}}</h2>
        <p>Price: {{price}}</p>
        <p>Quantity: {{quantity}}</p>
      </li>
    {{/each}}
  </ul>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</html>