<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>List of Products:</h1>
    <a href="/"><button>Home</button></a>
    <ul>
      {{#each products.docs}}
        <li>
          <h2>Product Name: {{title}}</h2>
          <p>Price: {{price}}</p>
          <p>Category: {{category}}</p>
        </li>
      {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>