<!DOCTYPE html>
<html>
<head>
    <title>User Login</title> 
</head>
<body> 
<div>
<div>
    <h1>Log in to your account!</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Password</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>Not registered yet? <a href="/register">Register here</a></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>