<!DOCTYPE html>
<html>
<head>
  <title>Email sended</title>
</head>
<body>
  <h1>Email sended</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>