<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div>
        <h1>Reset Password</h1>
        <p>The request to reset your password has expired. Please request a new link and follow the steps.</p>
        <a href="/api/views/forgot-pwd">REQUEST NEW PASSWORD</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>